.swiper {

  //height: 789px;
  img {
    max-width: 100%;
    object-fit: cover;
    height: 100%;
  }


  & > div{
    &:last-child{
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      bottom: 46%;
      z-index: 2;
      img{
        height: 47px;
        margin-left: -5px;

      }
    }
  }

}

.slide_text {
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 800;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}

.slide {
  position: relative;
  max-width: 282px;
  border-radius: 20px;
  height: 391px;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    border: 3px solid transparent;
    background: linear-gradient(rgb(255, 81, 255), rgb(255, 255, 255), rgb(255, 255, 34)) border-box; /*3*/
    -webkit-mask:
            linear-gradient(#fff 0 0) padding-box,
            linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

}

.block_image{
  background: rgb(98, 25, 109);
  border-radius: 22px;
  height: 100%;
  img{
    opacity: 0;
  }

}
.wrapper {
  padding: 37px 13px 17px 13px;
  opacity: 0;
}





