.swiper {
  //height: 789px;

  perspective: 800px;
  margin-bottom: 100px;

  position: relative;
  top: -50px;

  img {
    max-width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 20px;
  }

  & > div {
    &:last-child {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      bottom: 46%;
      z-index: 2;

      @media (max-width: 520px) {
        bottom: 45.5%;
      }
      img {
        height: 47px;
        margin-left: -5px;
      }
    }
  }
  > div:last-child a {
    @media (max-width: 520px) {
      background: url('../../../../shared/assets/icons/btn-next-game-transparent.svg') 0 0 / cover no-repeat;
    }
  }
}

.slide_text {
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 800;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}

.slide {
  position: relative;
  max-width: 282px;
  border-radius: 20px;
  height: 391px;
  border-radius: 22px !important;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 22px !important;
    border: 3px solid transparent;
    background: linear-gradient(to right, #ff51ff, rgb(255, 255, 255) 50.5%, #ffff22 100%) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}

.block_image {
  background: rgb(98, 25, 109);
  border-radius: 22px !important;
  height: 100%;

  img {
    opacity: 0;
    border-radius: 22px;
  }
}

.wrapper {
  padding: 37px 13px 17px 13px;
  opacity: 0;
}
