@font-face {
    font-family: TisaSansPro;
    font-display: swap;
    src: url("./TisaSansPro-Bold.woff2") format("woff2"), url("./TisaSansPro-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: TisaSansPro;
    font-display: swap;
    src: url("./TisaSansPro-ExtraBold.woff2") format("woff2"), url("./TisaSansPro-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: TisaSansPro;
    font-display: swap;
    src: url("./TisaSansPro-Medium.woff2") format("woff2"), url("./TisaSansPro-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: TisaSansPro;
    font-display: swap;
    src: url("./TisaSansPro-Regular.woff2") format("woff2"), url("./TisaSansPro-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
