.body {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;

  @media (max-width: 1025px) {
    max-width: 100%;
  }

  &::after {
    content: '';
    background: url('../../../../shared/assets/images/echo/bottom-main.svg') 0 0 / cover no-repeat;
    width: 100%;
    height: 244%;
    position: absolute;
    bottom: 0;
    left: -1px;
    right: 0;
    margin: auto;

    @media (max-width: 1025px) {
      height: 205%;
      left: 0px;
    }
    @media (max-width: 768px) {
      width: 154%;
      height: 220%;
      left: calc(-27% - 1px);
    }
    @media (max-width: 620px) {
      height: 196%;
      left: -27%;
    }
    @media (max-width: 440px) {
      width: 147%;
      left: calc(-24% + 2px);
      height: 210%;
    }
  }
}

.wrapper {
  position: relative;
  display: flex;
  z-index: 2;
  justify-content: center;
  align-items: flex-end;
  gap: 100px;
  @media (max-width: 1025px) {
    gap: 50px;
  }
  @media (max-width: 620px) {
    gap: 4px;
  }
}

.block_image {
  img {
    max-width: 100%;
    object-fit: cover;
  }
}
