.body {
  // height: 100vh;
  width: 50%;
}

.pet_swiper {
  width: calc(300px + (250px / 2));

  img {
    max-width: 100%;
    object-fit: cover;
    height: 100%;
  }

  &.swiper-slide-prev {
    z-index: 1;
  }

  .swiper-slide-next {
    z-index: 1;
  }

  .swiper-slide-active {
    z-index: 2;
    position: absolute;
  }

  @media (max-width: 600px) {
    width: 200px;
  }
}

.slider div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image_container {
  width: fit-content;
  border-radius: 16px;
  position: relative;
  margin: 0px auto;
}

.image_container::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 20px;

  border: 3px solid transparent;
  background: linear-gradient(to right, #FF51FF, rgb(255, 255, 255) 50.5%, #FFFF22 100%) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.image {
  width: 250px;
  height: 350px;
  object-fit: cover;
  border-radius: 20px;
}

.quantity {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -80px;

  z-index: 2;

  svg {
    width: 180px;
  }

  p {
    position: absolute;
    color: rgb(98, 25, 109);
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
    margin-left: -13px;
    margin-top: -10px;
  }
}
