.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 30px;
  margin-bottom: 14px;
  min-height: 100px;
  @media (max-width: 768px) {
    min-height: 86px;
    gap: 12px 35px;
  }
  @media (max-width: 520px) {
    margin-bottom: 8px;
    gap: 0 35px;
  }

  button {
    width: 152px;

    @media (max-width: 768px) {
      width: 138px;
    }
  }

  svg {
    min-width: 132px;
    opacity: 1 !important;
  }

  p {
    font-size: 43px !important;
  }
}