.swiper {
  max-width: 330px;
  width: 100%;
  overflow: hidden;

  img {
    max-width: 100%;
    object-fit: cover;
  }
}

.slide_text {
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 800;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;

  @media (max-height: 780px) and (max-width: 769px) {
    font-size: 13px;
  }

  & + img {
    //width: calc(100% + 26px);
    //margin-left: -13px;
    @media (max-width: 520px) {
      height: 50px !important;
      margin-top: auto;
      margin-bottom: 10px;
    }
    @media (max-height: 850px) and (max-width: 769px) {
      height: 44px !important;
      margin-top: auto;
    }
  }
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  width: 282px;
  border-radius: 20px;
  margin-top: 50px;
  // height: 400px;
  background-color: #fbb311;
  padding: 3px;
  @media (max-width: 769px) {
    height: 45.6vh;
    max-height: 400px;
  }

  @media (max-height: 737px) {
    max-height: 336px;
  }
  @media (max-height: 735px) {
    height: 52vh;
  }
  @media (max-height: 680px) {
    max-height: 301px;
  }
  @media (max-width: 400px) and (max-height: 721px) {
    height: 47vh;
  }

  @media (max-height: 720px) and (max-width: 540px) {
    height: 45vh;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 20px;
    border: 3px solid transparent;
    background: linear-gradient(to right, #ff51ff, rgb(255, 255, 255) 50.5%, #ffff22 100%) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  //@media (max-width: 520px) {
  //  height: 43vh;
  //}
}

.slide_cat {
  background-color: #a7268e;
}

.block_image {
  position: relative;
  width: 182px;
  height: 120px;
  margin: auto auto 0;

  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 769px) {
    width: 73%;
  }
  @media (max-width: 769px) and (max-height: 750px) {
    width: 77%;
  }
  @media (max-width: 380px) and (max-height: 700px) {
    width: 54%;
    height: 86px;
  }
}

.block_image::before {
  content: '';
  position: absolute;

  width: 100%;
  height: 100%;

  z-index: 1;

  transform: scale(1.07, 1.08);
}

.yellow_heart::before {
  background: url('../../../../shared/assets//icons/yellow-heart.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.purple_heart::before {
  background: url('../../../../shared/assets//icons/purple-heart.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper {
  padding: 37px 13px 17px 13px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  height: 100%;

  div:last-child {
    // margin-top: auto;
    @media (max-width: 769px) {
    }
  }

  @media (max-height: 700px) and (max-width: 768px) {
    padding: 25px 13px 17px 17px;
  }
  @media (min-height: 820px) {
    height: 400px;
  }
}

.btn_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 16px;
  margin-left: -4px;


  .btn_arrow {
    padding: 0;
    @media (max-width: 520px) {
      left: -12% !important;
    }
    @media (max-width: 440px) {
      left: -2% !important;
    }

    svg {
      width: 31px;
      height: 35px;
      margin-left: 0;
    }

    &:last-child {
      transform: rotate(180deg);
      @media (max-width: 520px) {
        left: initial !important;
        right: -12% !important;
      }
      @media (max-width: 440px) {
        right: -2% !important;
      }
    }
  }

  @media (max-height: 850px) {
    .btn_arrow {
      position: absolute;
      left: -12%;
      margin: auto;
      top: 14%;
      bottom: 0;
      width: 31px;
      height: 35px;
      z-index: 2;

      svg {
        width: 31px;
        height: 35px;
        margin-left: 0;
      }

      &:last-child {
        right: -12%;
        left: initial;
        transform: rotate(180deg);

      }
    }
  }

}

.quantity {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -50px;

  @media (max-width: 769px) {
    top: -38px;
  }

  @media (max-height: 700px) and (max-width: 768px) {
    top: -50px;
  }

  svg {
    width: 115px;
    height: 76px;
    @media (max-width: 769px) {
      transform: scale(0.8);
    }
  }

  p {
    position: absolute;
    color: rgb(98, 25, 109);
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
    margin-left: -3px;
    margin-top: -5px;
  }
}

.masked_image {
  width: 100%;
  height: 100%;
  -webkit-mask-image: url('../../../../shared/assets/icons/white-heart.svg');
  mask-image: url('../../../../shared/assets/icons/white-heart.svg');
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;

  position: relative;

  @media (max-width: 800px) {

    //width: 80%;
    //height: 80%;
  }

  @media (max-width: 550px) and (max-height: 740px) {
    width: 98%;
  }
}
