.swiper {
  max-width: 330px;
  width: 100%;
  overflow: hidden;

  img {
    max-width: 100%;
    object-fit: cover;
  }
}

.slide_text {
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 800;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  & + svg {
    width: calc(100% + 26px);
    margin-left: -13px;
  }
}

.slide {
  display: flex;
  position: relative;
  width: 282px;
  height: fit-content !important;
  border-radius: 20px;
  margin-top: 50px;
  height: 400px;
  background-color: #fbb311;
  padding: 3px;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 20px;
    border: 3px solid transparent;
    background: linear-gradient(to right, #ff51ff, rgb(255, 255, 255) 50.5%, #ffff22 100%) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  //@media (max-width: 520px) {
  //  height: 43vh;
  //}
}

.slide_cat {
  background-color: #a7268e;
}

.block_image {
  position: relative;
  width: 182px;
  height: 120px;
  margin: 0 auto;
}

.block_image::before {
  content: '';
  position: absolute;

  width: 100%;
  height: 100%;

  z-index: 1;

  transform: scale(1.07, 1.08);
}

.yellow_heart::before {
  background: url('../../../../shared/assets//icons/yellow-heart.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.purple_heart::before {
  background: url('../../../../shared/assets//icons/purple-heart.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper {
  padding: 37px 13px 17px 13px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  height: 100%;

  div:last-child {
    margin-top: auto;
  }
}

.btn_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 18px;
  margin-left: -4px;

  .btn_arrow {
    padding: 0;

    svg {
      width: 31px;
      height: 35px;
      margin-left: 0;
    }

    &:last-child {
      transform: rotate(180deg);
    }
  }
}

.quantity {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -50px;

  svg {
    width: 115px;
    height: 76px;
  }

  p {
    position: absolute;
    color: rgb(98, 25, 109);
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
    margin-left: -13px;
    margin-top: -10px;
  }
}

.masked_image {
  width: 100%;
  height: 100%;
  -webkit-mask-image: url('../../../../shared/assets/icons/white-heart.svg');
  mask-image: url('../../../../shared/assets/icons/white-heart.svg');
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;

  position: relative;
}
