.bg {
  position: relative;
  background: url('../../../../shared/assets/icons/game-botto-bg.svg') 0 0 / cover no-repeat;
  width: 171.6%;
  margin-top: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  @media (max-width: 768px) {
    width: 161%;
    background: url('../../../../shared/assets/icons/game-botto-bg_m.svg') 0 0 / cover no-repeat;
  }

  @media (max-width: 420px) {
    width: 186%;
  }
  @media (min-width: 1920px) and (max-width: 1921px){
    margin-left: 17px;
  }
}
