$--echo: url('../../../../shared/assets/images/echo/purple-echo-1.png');
$--echo-2: url('../../../../shared/assets/images/echo/yellow-echo-1.png');

.echo {
  z-index: 1;
  position: relative;
}

.echo::after {
  content: '';
  position: absolute;

  top: 0px;
  padding: 20px;

  width: 100%;
  height: 65%;

  z-index: 1;

  background-image: $--echo;
  background-position: top left;
  background-size: contain;
  background-repeat: no-repeat;
}

.echo::before {
  content: '';
  position: absolute;

  bottom: 0px;
  padding: 20px;

  width: 100%;
  height: 65%;

  z-index: 1;

  background-image: $--echo-2;
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 2;

  margin-bottom: 50px;

  @media (max-width: 600px) {
    margin-bottom: -20px;
  }
}

.brands {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 20px;
  z-index: 2;

  padding: 0px 0px 50px 0px;

  img {
    max-width: 100%;
    object-fit: cover;
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  @media (max-width: 1000px) {
    gap: 10px;
  }
  @media (max-width: 520px) {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 32px;
    img:last-child {
      grid-column: 2 span;
    }
  }
}

.brand_logo {
  @media (max-width: 1000px) {
    width: 160px;
    height: 90px;
  }
}

.main_text {
  font-size: var(--font-size-56);
  font-weight: 800;
  line-height: var(--line-height-50-4);

  text-transform: uppercase;
  color: var(--white-color);

  margin-bottom: 19px;
  @media (max-width: 768px) {
    margin-bottom: 8px;
  }
}

.sub_text {
  font-size: var(--font-size-20);
  line-height: var(--line-height-28-6);
  font-weight: 400;
  color: var(--white-color);
  margin-top: 0px;
  margin-bottom: 33px;
  @media (max-width: 768px) {
    margin-bottom: 16px;
  }
}

.title {
  color: rgb(255, 255, 255);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  max-width: 230px;
  @media (max-width: 1024px) {
    font-size: 18px;
  }
  @media (max-width: 769px) {
    font-size: 13px;
    line-height: 1.4;
    text-align: center;
    grid-column: 3 span;
  }
  @media (max-width: 520px) {
    grid-column: 2 span;
  }
}