.block_image {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 166px;
  width: 254px;

  position: relative;

  background: url('../../../../shared/assets/icons/love.svg') center no-repeat;
  background-size: contain;
}

.title {
  color: rgb(167, 38, 142);
  font-size: 19px;
  font-weight: 800;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  max-width: 227px;
}
