.body {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  color: rgb(255, 255, 255);
  z-index: 2;


  @media (max-width: 1024px) {

    justify-content: center;
  }
}

.block_image {
  display: flex;
  margin-top: auto;
  align-items: flex-end;
  & + div {
    margin-top: 0;
    margin-bottom: auto;
    p{
      white-space: nowrap;
    }
  }

  width: 30%;
  height: 102%;

  &:first-child {
    margin-left: -5%;
    margin-top: 7%;
  }

  img {
    width: 100%;
    object-fit: contain;
  }

  &:last-child {
    width: 27%;
    height: 87%;
    margin-right: -2%;
  }
}