$--purple-echo: url('../../assets/images/purple-figure.png');
$--yellow-echo: url('../../assets/images/purple-figure.png');

.pulse {
  position: relative;

  z-index: 1;
}

.pulse::after {
  content: '';

  height: 100%;
  width: 100%;

  position: absolute;

  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

  z-index: 2;

  opacity: 0;
  animation: pulse-after 5s ease-in-out infinite;
}

.pulse::before {
  content: '';

  height: 100%;
  width: 100%;

  position: absolute;

  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

  z-index: 2;

  opacity: 0;
  animation-duration: 2s;
  animation: pulse-before 5s ease-in-out infinite;
}

@keyframes pulse-after {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
  }
  80% {
    opacity: 0.2;
  }

  100% {
    transform: scale(1);
  }
}

@keyframes pulse-before {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.15);
  }
  80% {
    opacity: 0.4;
  }
  100% {
    transform: scale(1);
  }
}

.second_pulse {
  position: relative;

  z-index: 1;
}

.second_pulse::after {
  content: '';

  height: 100%;
  width: 100%;

  position: absolute;

  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

  z-index: 2;

  opacity: 0;

  animation-duration: 2s;
  animation: second_pulse-after 5s ease-in-out infinite;
}

.second_pulse::before {
  content: '';

  height: 100%;
  width: 100%;

  position: absolute;

  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

  z-index: 2;

  opacity: 0;

  animation-duration: 3s;
  animation: second_pulse-before 5s ease-in-out infinite;
}

@keyframes second_pulse-after {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
  }
  80% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes second_pulse-before {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.25);
  }
  80% {
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
  }
}

.echo::after,
.echo::before {
  content: $--purple-echo;

  display: flex;
  align-items: center;
  justify-content: center;
}

.circle::after,
.circle::before {
  border: 1px solid;
  border-radius: 50%;
}

.square::after,
.square::before {
  border: 1px solid;
  border-radius: 50px;
}

.purple_color::after,
.purple_color::before {
  border-color: var(--purple-color);
  box-shadow: inset 0px 0px 5px 4px var(--purple-color);
}

.yellow_color::after,
.yellow_color::before {
  border-color: var(--orange-color);
  box-shadow: inset 0px 0px 5px 4px var(--orange-color);
}

.white_color::after,
.white_color::before {
  border-color: var(--white-color);

  box-shadow: inset 0px 0px 5px 4px var(--white-color);
}
