.block_image{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: auto;
  img{
    width: 100%;
    object-fit: cover;

    @media (max-width: 520px){
      height: 285px;
    }
  }
}