.select_item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: break-spaces;
  min-height: 77px;
  width: 100%;
  padding: 0;
  @media (max-width: 768px) {
    width: 100%;
    padding-bottom: 10px;
  }

  svg {
    position: absolute;
    top: -10px;
    width: 100%;
    height: 100%;

    @media (min-width: 769px) {
      height: 105%;
    }
    @media (max-width: 769px) {
      top: -13px;
    }
  }

  p {
    position: relative;
    max-width: 100px;
    z-index: 2;
    text-transform: uppercase;
    font-size: 10px;
    user-select: none;
    margin-bottom: 20px;
  }
}

.title {
  color: rgb(255, 255, 255);
  font-size: 42px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  padding: 13px 29px;
}

.title_ask {
  color: rgb(98, 25, 109);
  font-weight: 700;
  line-height: 1.04;
  text-align: center;
}

.select_item_active {
  @media (max-width: 768px) {
    min-height: 93px;
  }

  svg {
    width: 102%;
    height: 105%;
    top: -10px;
    min-height: 101px;

    @media (max-width: 769px) {
      width: 105%;
      height: 100%;
      top: -13px;
      min-height: 82px;
    }
  }

  p.title {
    font-size: 12px !important;
    font-weight: 700;
    line-height: 1.15;
    color: rgb(98, 25, 109);
    padding: 13px 0;
    @media (max-width: 520px) {
      font-size: 11px !important;
    }
  }
}

.select_item_none {
  pointer-events: none;
  cursor: not-allowed;

  svg {
    opacity: 0.3;
  }
}

.select_item_toggle {
  pointer-events: all;
  cursor: pointer;

  svg {
    opacity: 1;
  }
}

.select_answer {
  height: 65px;
  margin-bottom: 12px;

  svg {
    padding-bottom: 12px;
  }
}

.remove_item {
  position: absolute;
  width: 24px;
  height: 24px;
  z-index: 2;
  top: 2px;
  right: -5px;

  @media (max-width: 768px) {
    width: 18px;
    height: 18px;
    top: 10px;
    right: 0px;
  }

  svg {
    position: static;
    width: 100%;
    height: 100%;
    min-height: 24px;
    min-width: 24px;
  }
}

.title_x {
  animation: blink 2s infinite;
}

@keyframes blink {
  0%,
  100% {
    filter: drop-shadow(0px 0px 2px #fff);
    opacity: 1;
  }
  50% {
    opacity: 0.6;
    filter: none;
  }
}

@keyframes topChange {
  0% {
    margin-top: 80px;
  }
  100% {
    margin-top: 0px;
  }
}
