.select_item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 77px;
  width: 173%;
  padding: 0;
  @media (max-width: 768px) {
    width: 100%;
  }

  svg {
    position: absolute;
    top: -10px;
    width: 100%;
    height: 100%;

    @media (min-width: 769px){
      height: 105%;
    }
    @media (max-width: 769px){

      top: -5px;
    }
  }

  p {
    position: relative;
    max-width: 113px;
    z-index: 2;
    text-transform: uppercase;
    font-size: 13px;
    user-select: none;
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
}

.title {
  color: rgb(255, 255, 255);
  font-size: 42px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  padding: 13px 29px;

}

.title_ask {
  color: rgb(98, 25, 109);
  font-weight: 700;
  line-height: 1.04;
  text-align: center;
}

.select_item_active{
  @media (max-width: 768px){
    min-height: 93px;
  }
  svg{
    width: 110%;
    height: 115%;
    top: -15px;
    min-height: 101px;
  }
  p.title{
    font-size: 15px !important;
    font-weight: 700;
    line-height: 1.15;
    color: rgb(98, 25, 109);
    padding: 13px 0;
  }
}

.select_item_none{
  pointer-events: none;
  cursor: not-allowed;
  svg{
    opacity: 0.3;
  }

}
.select_item_toggle{
  pointer-events: all;
  cursor: pointer;

  svg{
    opacity: 1;
  }
}
.select_answer{
  height: 65px;
  margin-bottom: 12px;

  svg{
    padding-bottom: 12px;
  }
}

.remove_item {
  position: absolute;
  width: 24px;
  height: 24px;
  z-index: 2;
  top: 2px;
  right: -5px;

  @media (max-width: 768px){
    width: 18px;
    height: 18px;
  }
  svg{
    position: static;
    width: 100%;
    height: 100%;
    min-height: 0;
    min-width: max-content;
  }

}